@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    /* Fonts */
    --font-roboto: "Roboto", sans-serif;
    --font-inter: "Inter", sans-serif;

    /* Colors */
    --color-primary: #6d758f;
    --color-light: #f1f3f7;
    --color-white: #ffffff;
}

/* Default Font */
body {
    font-family: "Poppins", sans-serif;
}

/* Basic CSS */
.container {
    width: 84%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}

.col {
    flex: 1;
    padding: 10px;
    min-width: 0;
}

.col-3 {
    flex: 0 0 25%;
}

.text-center {
    text-align: center;
}

/* Text Colors */
.text-deep {
    color: var(--color-primary);
}

.text-light {
    color: var(--color-light);
}

.text-white {
    color: var(--color-white);
}

/* Background Colors */
.bg-deep {
    background-color: var(--color-primary);
}

.bg-light {
    background-color: var(--color-light);
}

.bg-white {
    background-color: var(--color-white);
}

.img-responsive {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 8px;
}

/* Responsive (Mobile First) */
@media (max-width: 768px) {
    .col-3 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
